:root {
    --color-primario: #F18921;
    --color-secundario: #dbc681;
    --color-fondo: #f6f5e4;
    --color-card: #f1e8c1;
    --color-oscuro: #3d2111;
    --borde: 1px solid #000;
    --sombra: 0 0 12px rgba(0,0,0,0.4);
}

/* ESTILOS GENERALES*/
body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*  HEADER */
.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100px;
}

.btn-regresar {
    position: fixed;
    top: 20px;
    right: 20px;
    background: var(--color-primario);
    color: #fff;
    padding: 12px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.btn-regresar:hover {
    background: var(--color-secundario);
}

/* CONTENIDO */
.header-bar {
    max-width: 780px;
    width: 95%;
    background: var(--color-primario);
    text-align: center;
    padding: 30px 0;
    font-size: 1.5rem;
    font-weight: bold;
    border: var(--borde);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    box-shadow: var(--sombra);    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.close-btn:hover {
    color: var(--color-secundario);}

.card {
    max-width: 700px;
    width: 95%;
    margin: 0 auto;
    background: var(--color-card);
    padding: 40px;
    border-left: var(--borde);
    border-right: var(--borde);
    border-bottom: var(--borde);
    box-shadow: var(--sombra);
    text-align: center;
}

.icono img {
    width: 140px;
}

/* FORMULARIO */
.input {
    width: 95%;
    padding: 14px;
    font-size: 1rem;
    border-radius: 6px;
    background: var(--color-oscuro);
    color: var(--color-fondo);
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.input::placeholder {
    color: #999;
}
h2 {
    margin-bottom: 9px;
    color: var(--color-oscuro);
}


.btn-primario {
    width: 100%;
    background: var(--color-primario);
    color: #000;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
    text-decoration: none;
}

.btn-primario:hover {
    background: #dbc681;
}


/* ENLACES Y SEPARADOR */
.link{
    display: inline-block;
    margin-top: 10px;
    font-size: 1.1rem;
    color: #000000;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.separador-contenedor {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.linea {
    flex: 1;
    height: 1px;
    background: #000;
}

.circulo {
    margin: 0 10px;
}

/* FOOTER BUTTON */
.footer-btn {
    max-width: 742px;
    width: 95%;
    background: var(--color-primario);
    padding: 20px;
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border: var(--borde);
    border-top: none;
    border-radius: 0 0 10px 10px;
    box-shadow: var(--sombra);
}

.footer-btn:hover {
    background: var(--color-secundario);
}

/* ENLACE EXTERNO */
.enlace-externo {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
    color: var(--color-oscuro);
}

.enlace-externo a {
    color: var(--color-primario);
    text-decoration: none;
    font-weight: bold;
}

.enlace-externo a:hover {
    text-decoration: underline;
    color: var(--color-oscuro);
}

.close-card-btn {
    width: 100%;
    background: #dc3545;
    color: #fff;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.close-card-btn:hover {
    background: #c82333;
}
footer {
    margin-top: 200px;
    text-align: center;
    color: var(--color-oscuro);
    font-size: 0.9rem;
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 700px) {
    .header-bar {
        font-size: 1.4rem;
    }

    .card {
        padding: 25px;
    }
}