* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

:root { 
    --color-primario: #3d2111; 
    --color-secundario: #F18921; 
    --color-alertas: #C3402A; 
    --color-fondo: #f6f5e4; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background: var(--color-primario);
    border-bottom: 1px solid var(--color-fondo);
}

/* COLUMNA IZQUIERDA */
.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1; /* ← Esto permite centrar el menú */
}

/* COLUMNA CENTRAL (MENÚ CENTRADO) */
.header-center {
    display: flex;
    justify-content: center; /* ← Centro perfecto */
    align-items: center;
    gap: 35px;
    flex: 1; /* ← Esto lo empuja a la mitad */
}

/* COLUMNA DERECHA */
.header-right {
    display: flex;
    justify-content: flex-end;
    flex: 1; /* ← Empuja el botón a la derecha */
}

/* Logo */
.logo {
    width: 90px;
    height: 90px;
    background-image: url('img/icono.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 20px rgb(249, 154, 60));
}

/* Línea vertical */
header hr {
    border-right: 1px solid var(--color-secundario);
    height: 40px;
    margin: 0;
}

/* Nombre del local */
.nom-local {
    color: #F18921;
    font-family: 'Lucida Sans';
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
}

/* Links */
.header-center a {
    font-family: 'Lucida Sans';
    gap: 100px;
    font-size: 22px;
    color: var(--color-secundario);
    text-decoration: none;
    transition: 0.3s;
}

.header-center a:hover {
    color: var(--color-fondo);
}

/* Botón */
.btn-sesion {
    background: var(--color-secundario);
    border: none;
    border-radius: 25px;
    color: var(--color-fondo);
    padding: 12px 25px;
    font-size: 18px;
}
.btn-sesion img {
    width: 28px;
    height: 28px;
    object-fit: contain;
    display: block;
}

.btn-sesion:hover {
    background: var(--color-fondo);
    color : var(--color-primario);
    cursor: pointer;
}

.hero {
    display: flex;
    position: relative;
    height: 80vh;
    overflow: hidden;
}

.carousel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1.1s ease-in-out;
}

.carousel-slide.active {
    opacity: 1;
}

.footer-content {
    text-align: center;
    font-weight: 900;
    padding: 20px;
    background-color: var(--color-secundario);
    font-family: 'Lucida Sans';
    color: var(--color-primario);
    width: 100%;
}

.promociones {
    display: block;
    padding: 40px 20px;
    background-color: var(--color-fondo);
    text-align: center;
    color: var(--color-primario);
}

/* h2 dentro de .promociones */
.promociones h2 {
    font-family: 'Lucida Sans';
    font-size: 35px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 10%;
    margin-top: 20px;
}

/* p dentro de .promociones */
.promociones p {
    font-family: 'Lucida Sans';
    font-size: 20px;
    margin-bottom: 40px;
    text-align: left;
    padding-left: 10%;
}
.old-price { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: line-through; 
    color: #757575; 
    font-size: 14px; 
}
.new-price { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--color-alertas); 
    font-weight: 700; 
    font-size: 16px; 
}
.sale-badge {
    top: 10px; 
    left: 10px;
    background: var(--color-alertas); 
    color: white;
    padding: 8px 15px; 
    font-size: 16px; 
    font-weight: bold; 
    border-radius: 4px;
    position: absolute;
}
.price-container { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex; 
    gap: 10px; 
    align-items: center; 
}
.productos-grid {
    width: 100%;
    margin: 0 auto;
    display: grid !important; 
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
    padding: 20px 20px; 
}

.product-info { 
    display: flex; 
    flex-direction: column; 
    gap: 4px; 
    font-weight: 600;
}

.product-card {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background: var(--color-fondo);
    padding: 15px;
    border: 1px solid var(--color-secundario);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.product-card:hover { 
    transform: translateY(-5px); 
    filter:drop-shadow(0 0 8px var(--color-secundario));
    transition: transform 0.3s, filter 0.3s; 
}
.product-image {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
}

.product-image:hover {
    transform:translateY(-1px);
    transition: transform 0.3s;
}
.product-name { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: var(--color-primario);
    font-size: 16px; 
}

.product-price { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px; 
    color: var(--color-alertas);
    font-weight: 700; 
    margin-top: auto; 
}

.Nosotros-section {
   display: flex; 
   height: 600px; 
   background: var(--color-fondo); 
   align-items: center;
}
.Nosotros-content {
    color: var(--color-primario);
    flex: 1; 
    padding: 75px; 
    min-width: 100px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-left: 40PX;
} 
/* h2 dentro de .promociones */
.Nosotros-content h2 {
    font-family: 'Lucida Sans';
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 900;
}

/* p dentro de .promociones */
.Nosotros-content p {
    font-family: 'Lucida Sans';
    font-size: 22px;
    text-align: center;
   
}

.Nosotros-img { 
    flex: 1;
    background-position: center;
    width: 400px;
    margin-right: 50PX;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.Nosotros-img:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
    filter: drop-shadow(0 0 10px var(--color-secundario));
}

.Nosotros-Ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* centra verticalmente el contenido */
    padding: 40px 20px;
    background-color: var(--color-primario);
    color: var(--color-fondo );
    min-height: 300px; /* asegura espacio para centrar */
}
.Map-Content {
    background-color: var(--color-fondo);
    font-family: 'Lucida Sans';
    font-size: 30px;
    font-weight: 900;
    padding: 50px 50px;
    align-items: center;
    justify-content: center;
}

.Nosotros-map {
    background-color: var(--color-fondo);
    display: block; 
    background-color: var(--color-fondo);
    width: 1500px;
    height: 750px;
    border: none;
    border-radius: 15px;
    margin: auto;     /* centra horizontalmente */
}
.Nosotros-map:hover {
    transform: scale(1.02);
    transition: transform 0.5s;
    filter: drop-shadow(0 0 10px var(--color-primario));
}

.Menu-section {
    display: block;
    padding: 40px 20px;
    background-color: var(--color-fondo);
    text-align: center;
    color: var(--color-primario);
}

/* h2 dentro de .promociones */
.Menu-section h2 {
    font-family: 'Lucida Sans';
    font-size: 35px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 10%;
    margin-top: 10px;
}

/* p dentro de .promociones */
.Menu-section p {
    font-family: 'Lucida Sans';
    font-size: 20px;
    margin-bottom: 40px;
    text-align: left;
    padding-left: 10%;
}

/* Sección principal */
.contact-section {
    background-color: var(--color-fondo);
    text-align: center;
    padding: 40px 20px;
}

.contact-section h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
    color: var(--color-primario);
}

.descripcion {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: var(--color-primario);
    margin-bottom: 40px;
}

/* Contenedor de iconos */
.icons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}
/* Estilo de cada icono */
.icon-box {
    text-align: center;
    max-width: 180px;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.icon-box img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.icon-box p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: var(--color-primario);
    margin-top: 5px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    .nom-local {
        font-size: 24px;
    }
    hr {
        display: none;
    }
    .navegacion {
        flex-direction: column;
        gap: 10px;
    }
    .navegacion a {
        font-size: 18px;
        margin-left: 0;
    }
    .btn-sesion {
        margin-left: 0;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
    .hero {
        height: 50vh;
    }
}
