body {
            margin: 5px;
            padding: 10px;
            background: #f6f5e4;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

    .container {
    width: 500px;                /* tu tamaño del cuadro */
    background-color:  #f6f5e4;   /* tu color de fondo */
    padding: 0 0 20px 0;         /* importante: arriba 0 para unirlo al header */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    margin: auto;
    text-align: center;
    margin-top: 80px; /* Ajusta según sea necesario */
}

.header {
    width: 100%;                 /* ocupa todo el ancho */
    background-color: black;
    padding: 25px 0;             /* solo vertical */
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px 15px 0 0; /* esquinas superiores redondeadas */
    margin: 0;                   /* quitar posibles márgenes */
    box-sizing: border-box;
}

        .title {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        input {
           background-color: #3d2111;
           color:#fff;
           width: 80%;
            padding: 12px;
            margin: 10px 0;
            border: none;
            border-radius: 5px;
        }

        .btn {
            width: 50%;
            padding: 12px;
            margin-top: 15px;
            background: #f18921;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 800;
            text-decoration: none;
        }

        .btn-content {
            color:#f6f5e4;
            text-decoration: none;
        }

        .btn:hover { 
            background: #dbc681; 
            color: #3d2111;
            font-weight: 800;
        }

        .btn-content:hover {
            background: #dbc681; 
            color: #3d2111;
            font-weight: 800;
        }

        .link {
            margin-top: 10px;
            font-size: 12px;
            color: #000000;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            text-align: center;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .a:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        .create-btn {
            width: 60%;
            margin: 20px auto;
            padding: 12px;
            background: #f18921;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
        }
body {
    margin: 0;
    padding: 0; /* Color crema */
    display: flex;
    flex-direction: column;   /* Permite que el navbar quede arriba */
    height: 100vh;
}      

/* NAVBAR */
.navbar {
    width: 100%;
    background-color: #f6f5e4;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 0 0 15px 15px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    position: fixed;
}

.navbar ul li {
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* CENTRAR FORMULARIO */
.contenedor-principal {
    flex: 1; /* Ocupa todo el espacio restante debajo del navbar */
    display: flex;
    justify-content: center;
    align-items: center; /* CENTRA VERTICALMENTE */
}

/* FORMULARIO */
.container {
    width: 500px;
    background-color:  #f6f5e4;
    padding-bottom: 25px;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    text-align: center;
}

.header {
    width: 100%;
    background-color: #f18921;
    padding: 25px 0;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border-radius: 15px 15px 0 0;
}
a.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f18921;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 1250px;
    bottom: 20px;
    right: 20px;    
}
.footer-content {
    width: 80%;
   
}

.boton-regresar {
    margin-top: 18px;
    margin-left: 1700px;
    background: #f18921;
    color: #fff;
    padding: 12px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background 0.1s;
    z-index: 100;
}

.boton-regresar:hover {
    background: #dbc681;
    color: #3d2111;
}

.enlace-externo { /* espacio debajo del recuadro */
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #080707;
}
.enlace-externo { /* espacio debajo del recuadro */
    margin-top: -100px;       /* ACERCA EL TEXTO AL CUADRO */
    margin-bottom: 90px;     /* SEPARA UN POCO DEL FOOTER */
}

.enlace-externo a {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}

.enlace-externo a:hover {
    text-decoration: underline;
    cursor: pointer;
}
